body {
  width: 100vw;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.dostupan-budzet {
  padding: 40;
  text-align: center;
  background: gray;
  color: white;
}
#budzet {
  height: 100px;
  font-size: 30px;
  color: white;
}

#iznos {
  height: 100px;
  font-size: 30px;
  color: white;
}

#prihod {
  display: inline-block;
  padding: 40;
  text-align: left;
  background: rgb(0, 225, 255);
  color: white;
  padding: 12px;
  margin-top: 20px;
  width: 500px;
  height: 50px;
}

#rashod {
  display: inline-block;
  padding: 40;
  text-align: left;
  background: coral;
  color: white;
  padding: 12px;
  margin-top: 20px;
  width: 500px;
  height: 50px;
}


.iznos-prihoda{
  position: relative;
  bottom: 30px;
  left: 350px;
}
#rashod {
  text-align: left;
  background-color: coral;
}

.vrednost {
  position: relative;
  bottom: 50px;
  right: 90px;
  float: right;
}

.iznos-rashoda{
  position: relative;
  bottom: 20px;
  left: 350px;
}

#procenti {
  position: relative;
  width: 60px;
  background-color: black;
  padding: 0px;
  border-radius: 5px;
  margin-left: 5px;
  color:white;
  text-align: center;
}

#procenti {
  position: relative;
  bottom: 40px;
  left: 420px;
  width: 70px;
  background-color: #F57B66;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  color:white;
  text-align: center;
}

.ulaz {
  text-align: center;
  background-color:whitesmoke;   
}
input[type=text], select{
  padding: 10px;
  margin: 10px;
  box-shadow:0 0 10px 7px whitesmoke;
  background-color: white;
  border: 0px;
}

.box {
  display: flex;
  justify-content: space-between;
  
  font-size: 27px;
  color: #2AB9B7;
  margin: 85px;
}

.unos {
  border-bottom: 1px solid rgb(195, 195, 195);
  font-size: 20px;
  padding: 20px 0;
}
.delete-button {
  display:none;
  float: left;
  margin-right: 10px;
}
.delete-button-show {
  float: left;
  margin-right: 10px;
  border-radius: 30%;
}

.okvir {
  padding: 15px;
  border-bottom-style: solid;
}